.contenedorArt {
    @include nosotros;
    &__item {
        @include nosotrosItem;
        &__img {
            img {
            width: 225px;
            height: auto;
            padding: 5px;
            border-radius: 10px;
            }
        }
        &__txt {
            h5 {
                font-size: 200%;
                color: $colorTitulo;
            }
            p {
                text-indent: 0px;
                color: white;
                padding-inline: 15px;
            }
        }
        &:hover {
            background-color: rgba(172, 147, 113, 0.7);
            transform: translateY(-25px);
            transition: all 0.3s;
            img {
                transform: scale(1.2);
                transition: all 0.5s;
            }
        }
    }
}