.footer {
    margin: auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    color: white;
    &__nav {
        a {
            text-decoration: none;
            padding-left: 20px;
            color: rgba(143,121,94);
            &:hover {
                color: white;
            }
        }
    }
    &__logo {
        a {
            text-decoration: none;
            letter-spacing: 3px;
            color: rgba(143,121,94);
            &:hover {
                color: white;
                letter-spacing: 5px;
            }
        }
    }
    &__copy {
        font-size: 20px !important;
        padding-right: 20px;
    }
}