.footer {
    margin: auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    color: white;
    &__nav {
        a {
            text-decoration: none;
            padding-left: 20px;
            color: rgba(143,121,94);
            transition: all 0.5s;
            &:hover {
                color: rgba(126, 83, 28, 0.795);
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 3px;
                transition: all 0.5s;
            }
        }
    }
    &__logo {
        a {
            text-decoration: none;
            letter-spacing: 3px;
            color: rgba(143,121,94);
            transition: all 0.5s;
            &:hover {
                color: white;
                transition: all 0.5s;
            }
        }
    }
    &__copy {
        font-size: 10px !important;
        padding-right: 20px;
    }
}