.header{
    margin: auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    &__logo {
        flex-grow: 1;
        align-self: baseline;
        & h1 a{
            letter-spacing: 5px;
            text-decoration: none;
            color: white;
        }
    }
    &__menuNav {
        flex-grow: 2;
        align-self: baseline;
        text-align: end;
        & ul li {
            display: inline-block;
            a {
                letter-spacing: 3px;
                text-decoration: none;
                color: white;
                padding-left: 80px;
            }
        }
    }
}