@import "../base/colors";
@import "../base/mixin";
/* ESTILOS PARA VISTA DESKTOP <1200px */
.header{
    @include navDesk;
    &__logo {
        flex-grow: 1;
        align-self: baseline;
        & h2 a{
            @include hipNav;
            }
        }
    &__menuNav {
        flex-grow: 2;
        align-self: baseline;
        text-align: end;
        & ul li {
            display: inline-block;
            a {
                letter-spacing: 3px;
                text-decoration: none;
                color: white;
                padding-inline: 20px;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 3px;
                    color: rgba(126, 83, 28, 0.795);
                    transition: all 1s;
                }
            }
        }
    }
}

#mobile {
    display: none;
}

