@import "../base/colors";
@import "../base/animaciones";
@import "../base/mixin";

.main__section {
    background: linear-gradient(90deg, rgba(143,121,94,0.5) 40%,rgba(223, 205, 180, 0));
    box-shadow: -5px 4px 15px 0px rgba(0, 0, 0, 0.5);
    @include styleMain;
    &__form {
        fieldset {
            border: none;
        }
        h2 {
            letter-spacing: 3px;
            color: $colorTitulo;
            &::first-letter {
                font-size: 30px;
            }
        }
    }   
    &__item1 {
        h2 {
            @include titularesMain;
        }
        a {
            @include hiper;
            float: right;
        }
        p {
            &::first-letter {
                font-size: 30px;
            }
        }
    }
    &__item2 {
        animation: animacionImg 0.5s linear;
        img {
            width: 600px;
            height: auto;
            border-radius: 5px;
            &:hover {
                transform: scale(1.1);
                transition: all 0.4s;
            }
        }
    }
}


.mainH1 {
    border-radius: 5px;
    margin: 40px 20px;
    padding: 10px;
    animation: introH1 0.5s linear;
    h1 {
        font-weight: bold;
        color: white;
        letter-spacing: 3px;
        margin-left: 50px;
        text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.7);
        &::first-letter {
            font-size: 50px;
            color: $colorTitulo;
        }
    }
}
