@import "../base/colors";
@import "../base/animaciones";

.main__section {
    background: linear-gradient(90deg, rgba(143,121,94,0.5) 40%,rgba(223, 205, 180, 0));
    border-radius: 5px;    
    color: white;
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    &__form {
        fieldset {
            border: none;
        }
        h2 {
            letter-spacing: 3px;
            color: $colorTitulo;
            &::first-letter {
                font-size: 30px;
            }
        }
    }   
    &__item1 {
        h2 {
            letter-spacing: 3px;
            margin-left: 50px;
            color: $colorTitulo;
            &::first-letter {
                font-size: 30px;
            }
        }
        a {
            background-color: $coloHiperBg;
            border-radius: 5px;
            padding: 3px;
            text-decoration: none;
            float: right;
            margin-right: 50px;
            color: $colorHiper;
            &:hover {
                background-color: $colorTitulo;
                color: white;
                transform: scale(1.1);
                transition: all 0.5s;
            }
        }
        p {
            &::first-letter {
                font-size: 30px;
            }
        }
    }
    &__item2 {
        animation: animacionImg 1s linear;
        img {
            width: 600px;
            height: auto;
            border-radius: 5px;
            &:hover {
                transform: scale(1.1);
                transition: all 1s;
            }
        }
    }
}


.mainH1 {
    background: linear-gradient(340deg, rgba(233,215,191, 0.5) 40%,rgba(94, 71, 42, 0.5));    
    border-radius: 5px;
    margin: 40px 20px;
    padding: 10px;
    h1 {
        color: white;
        letter-spacing: 3px;
        margin-left: 50px;
        animation: introH1 0.5s linear;
        &::first-letter {
            font-size: 50px;
            color: $colorTitulo;
        }
    }
}
