.section {
    background: linear-gradient(270deg, rgba(223, 205, 180, 0.7) 40%,rgba(223, 205, 180, 0));    border-radius: 5px;
    color: white;
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    &__item {
        h2 {
            letter-spacing: 3px;
            margin-left: 50px;
            color: rgba(188, 125, 49, 0.8);
        }
        a{
            text-decoration: none;
            float: right;
            margin-right: 50px;
            color: rgb(152,132,104);
        }
    }
    &__table {
        color: white;
    }
}