@import "../base/animaciones";

.section {
    background: linear-gradient(270deg, rgba(143,121,94,0.5) 40%,rgba(223, 205, 180, 0));
    box-shadow: 5px 4px 15px 0px rgba(0, 0, 0, 0.5);
    @include styleSection;
    &:hover {
        background-color: rgba(172, 147, 113, 0.7);
        transition: all 0.5s;
    }
    &__item {
        h2 {
            @include titularesSection;
        }
        a{
            @include hiper;
            float: left;
        }
        p {
            float: right;
            &::first-letter {
                font-size: 30px;
            }
        }
    }
}
/* EDITAR TABLA */
.section-table {
        display: flex;
        justify-content: center;
        width: 900px;
        table {
            border-collapse: separate;
            border-spacing: 20px;
        }
        caption {
            text-align: center;
            font-size: 23px;
            letter-spacing: 3px;
            font-weight: bold;
            color: $colorTitulo;
            &::first-letter {
                font-size: 30px;
            }
        }
        th {
            background-color: $colorTitulo;
            border-radius: 3px;
            text-align: center;
            padding:auto 20px;
            color: $colorHiper;
        }
        tr {
            &:hover {
                background-color: rgba(238,166,59,0.7);
                transform: scale(1.1);
                transition: all 0.2s;
            }
        }
        td {
            background-color: $coloHiperBg;
            border-radius: 3px;
            text-align: left;
            padding: 5px;
        }

    }

    .container {
        display: none;
        max-width: 300px;
        padding: 0;
    }


    /* SECCION DE NOVEDADES Y PROMOCIONES */

    .newProm {
        @include styleNewProm;
        &:hover {
            opacity: 1;
        }
        &__text {
            label {
                span {
                    font-weight: bold;
                    letter-spacing: 2px;
                    text-shadow: 2px 0px 5px rgba(0, 0, 0);
                    font-size: 110%;
                }
            }
            input {
                margin-bottom: 8px;
            }
        }
        &__redesSoc {
            padding-bottom: 10px;
        }
        &__img a {
            padding-left: 20px;
            img {
                width: 40px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }