@import "../base/animaciones";

.section {
    @include styleSection;
    &__item {
        h2 {
            @include titularesSection;
        }
        a{
            @include hiper;
            float: left;
        }
        p {
            float: right;
            &::first-letter {
                font-size: 30px;
            }
        }
    }
}
/* EDITAR TABLA */
.section-table {
        display: flex;
        justify-content: center;
        width: 900px;
        table {
            border-collapse: separate;
            border-spacing: 20px;
        }
        caption {
            text-align: center;
            font-size: 23px;
            letter-spacing: 3px;
            font-weight: bold;
            color: $colorTitulo;
            &::first-letter {
                font-size: 30px;
            }
        }
        th {
            background-color: $colorTitulo;
            border-radius: 3px;
            text-align: center;
            padding:auto 20px;
            color: $colorHiper;
        }
        tr {
            &:hover {
                background-color: rgba(238,166,59,0.7);
                transform: scale(1.1);
                transition: all 0.5s;
            }
        }
        td {
            background-color: $coloHiperBg;
            border-radius: 3px;
            text-align: left;
            padding: 5px;
        }

    }

    .container {
        display: none;
        max-width: 300px;
        padding: 0;
    }
