/* Variables de colores */

/* Variables fuentes */

/* Titutales y encabezados */
$colorTitulo: rgba(233,215,191);

/* HIPERVINCULOS */
/* TEXTO */
$colorHiper: rgb(152,132,104);
/* BACKGROUND */ 
$coloHiperBg: rgba(233,215,191,0.5);

/* Grilla */
.text-bg-dark {
    border: none !important;
    background-color: rgba(172, 147, 113, 0.8) !important;
}

