/* Variables de colores */

/* Variables fuentes */

/* Titutales y encabezados */
$colorTitulo: rgba(233,215,191);

/* HIPERVINCULOS */
/* TEXTO */
$colorHiper: rgb(152,132,104);
/* BACKGROUND */ 
$coloHiperBg: rgba(233,215,191,0.5);

