/* MENU HEADER DESKTOP */
@mixin navDesk {
    margin: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
}

/* EFECTO HOVER MENU */
@mixin hipNav {
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4);
    &:hover {
        letter-spacing: 3px;
        transition: all 0.2s;
    }
}

/* SECCIONES */
@mixin styleMain {
    border-radius: 5px;    
    color: white;
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@mixin styleSection {
    @include styleMain; 
    flex-direction: row-reverse;
}

@mixin styleNewProm {
    background: rgba(143,121,94,0.7);
    border-radius: 5px;
    margin: 60px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    opacity: 0.6;
    transition: all 0.5s;
}

/* TITULARES */

@mixin titularesMain {
    letter-spacing: 3px;
    margin-left: 50px;
    color: $colorTitulo;
    &::first-letter {
        font-size: 30px;
    }
}

@mixin titularesSection {
    @include titularesMain;
    float: right;
    margin-right: 50px !important;
}

/* HIPERVINCULOS */
@mixin hiper {
    background-color: $coloHiperBg;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    margin-right: 50px;
    color: $colorHiper;
    &:hover {
        background-color: $colorTitulo;
        color: white;
        transform: scale(1.1);
        transition: all 0.3s;
        &:active {
            transform: scale(1);
        }
    }
    
}

@mixin nosotros {
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}
