/* SECCIONES */
@mixin styleMain {
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@mixin styleSection {
    @include styleMain; 
    flex-direction: row-reverse;
}

/* TITULARES */

@mixin titularesMain {
    letter-spacing: 3px;
    margin-left: 50px;
    color: $colorTitulo;
    &::first-letter {
        font-size: 30px;
    }
}

@mixin titularesSection {
    @include titularesMain;
    float: right;
    margin-right: 50px !important;
}